<%= form_for([@case_log, @share], html: {class: "form-model", role: "form"}) do |f| %>
  <div class="form-group">
      <%= f.label "Enter the email of the doctor that you want to share this log with:" %><br>
      <%= f.text_field :doctor_email, style:"width: 300px;"%>
  </div>
  <div class="form-group">
    <%= f.submit "Share", class:"btn btn-block btn-info", style:"width: 80px; display:inline;" %> 
    <%= link_to 'Cancel', shares_path, class:"btn btn-block btn-danger", style:"width: 80px; display: inline;" %>
  </div>
<% end %>

